{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{plugins, [rebar3_elixir, rebar3_hex]}.

{elixir_bindings, [wok_tests]}.

{deps, [
  {bucs, {git, "https://github.com/botsunit/bucs.git", {branch, "master"}}},
  {wok_http_adapter, {git, "git@gitlab.botsunit.com:msaas/wok_http_adapter.git", {branch, "master"}}},
  {wok_message_handler, {git, "git@gitlab.botsunit.com:msaas/wok_message_handler.git", {branch, "master"}}},
  {doteki, {git, "https://github.com/botsunit/doteki.git", {branch, "master"}}},
  {hackney, "~> 1.6.0"}
 ]}.


{eunit_opts, [
              verbose, {report, {eunit_surefire, [{dir, "test/eunit"}]}}
             ]}.
{pre_hooks, [{eunit, "mkdir -p test/eunit"}]}.

{profiles, [
            {test, [
                    {deps, [meck]}
                   ]},
            {doc, [
                   {deps, [
                           {edown, {git, "https://github.com/botsunit/edown.git", {branch, "master"}}}
                          ]},
                   {edoc_opts, [
                                {doclet, edown_doclet}
                                , {app_default, "http://www.erlang.org/doc/man"}
                                , {source_path, ["src"]}
                                , {overview, "overview.edoc"}
                                , {stylesheet, ""}
                                , {image, ""}
                                , {edown_target, gitlab}
                                , {top_level_readme, {"./README.md", "https://gitlab.botsunit.com/msaas/wok_tests"}}
                               ]}
                   ]}
           ]}.

